body {
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
  background-color: #FFFAFA;
}

/* ---------- Header ---------- */
.main-header {
  background-color: #163867;
  height: 60px;
  width: 100%;
  color: #FFFAFA;
  padding: 0 20px;
  position: fixed;
  top: 0;
  z-index: 1;
}

@media (max-width: 800px) {
  .title {
    display: none;
  }
}

.logo-wrapper {
  float: left;
  padding: 15px 0;
}

.title-wrapper {
  float: left;
  margin-left: 5%;
}

.title {
  display: inline-block;
  line-height: 60px;
  margin: 0;
}

@media (max-width: 800px) {
  .title {
    display: none;
  }
}

.main-header .el-menu-item {
  height: 60px;
}


.header-nav-wrapper {
  float: right;
  line-height: 60px;
  padding-right: 20px;
}

.header-nav-wrapper .el-link:hover {
  color: #D0D3DA !important;
}

@media (max-width:390px) {
  .nav-text {
    display: none;
  }
}

/* Content Body */
.main-body {
  margin-top: 60px;
  min-height: calc(100vh - 60px - 40px);
  width: 100%;
  box-sizing: border-box;
  padding: 10px 0;
}

/* Footer */
.main-footer {
  height: 40px;
  background-color: #163867;
  color: #FFFAFA;
}

.footer-text {
  line-height: 40px;
  vertical-align: middle;
  margin: 0 10px;
}

.footer-text-left {
  float: left;
}

@media (max-width: 440px) {
  .footer-text-left {
    font-size: 0.8em;
  }
}

@media (max-width: 350px) {
  .footer-text-left {
    font-size: 0.5em;
  }
}

@media (max-width: 335px) {
  .footer-text-left {
    display: none;
  }
}

.footer-text-right {
  float: right;
}

.lang-picker {
  color: inherit;
}

.lang-picker i {
  vertical-align: middle;
  cursor: pointer;
}

/* Backtop */
.backtop {
  position: fixed;
  right: 100px;
  bottom: 50px;
  opacity: 0.5;
  transition-duration: 0.5s, 0s;
  transition-delay: 0s, 0s;
  transition-property: opacity, visibility;
}

@media (max-width: 800px) {
  .backtop {
    right: 20px;
    bottom: 30px;
  }
}

.backtop:hover {
  opacity: 1;
}

/* Miscellaneous */
.lang-en {
  word-break: normal;
}

.hidden {
  opacity: 0;
  transition-duration: 0.5s, 0s;
  transition-delay: 0s, 0.5s;
  transition-property: opacity, visibility;
  visibility: hidden;
}

/* Toc */
.toc {
  margin: 20px;
  border: 1px solid #606266;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 4px, rgba(0, 0, 0, 0.04) 0px 0px 6px;
}
