body {
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
  background-color: #FFFFFF;
}

/* ---------- Header ---------- */
.main-header {
  background-color: #163867;
  height: 60px;
  width: 100%;
  color: #FFFAFA;
  padding: 0 20px;
  position: fixed;
  top: 0;
  z-index: 2;
}

@media (max-width: 800px) {
  .title {
    display: none;
  }
}

.logo-wrapper {
  float: left;
  padding: 15px 0;
}

.title-wrapper {
  float: left;
  margin-left: 5%;
}

.title {
  display: inline-block;
  line-height: 60px;
  margin: 0;
}

@media (max-width: 800px) {
  .title {
    display: none;
  }
}

.main-header .el-menu-item {
  height: 60px;
}


.header-nav-wrapper {
  float: right;
  line-height: 60px;
  padding-right: 20px;
}

.header-nav-wrapper .el-link:hover {
  color: #D0D3DA !important;
}

@media (max-width:390px) {
  .nav-text {
    display: none;
  }
}

/* Content Body */
.main-body {
  margin-top: 60px;
  margin-bottom: 40px;
  min-height: calc(100vh - 60px - 40px);
  width: 100%;
  box-sizing: border-box;
  padding: 10px 0;
}

/* Footer */
.main-footer {
  width: 100%;
  height: 40px;
  background-color: #163867;
  color: #FFFAFA;
  z-index: 2;
  position: fixed;
  bottom: 0;
}

.footer-text {
  line-height: 40px;
  vertical-align: middle;
  margin: 0 10px;
}

.footer-text-left {
  float: left;
}

@media (max-width: 440px) {
  .footer-text-left {
    font-size: 0.8em;
  }
}

@media (max-width: 350px) {
  .footer-text-left {
    font-size: 0.5em;
  }
}

@media (max-width: 335px) {
  .footer-text-left {
    display: none;
  }
}

.footer-text-right {
  float: right;
}

.lang-picker {
  color: inherit;
}

.lang-picker i {
  vertical-align: middle;
  cursor: pointer;
}

/* Aside */
.aside-wrapper {
  height: 100%;
  position: fixed;
  width: 300px;
  z-index: 1;
  top: 60px;
  right: -1px;
  transition: right;
  transition-duration: 0.5s;
}

.aside {
  height: 100%;
  position: absolute;
  box-sizing: border-box;
  width: 300px;
  z-index: 1;
  right: 0;
  border: 1px solid #DCDFE6;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
  background-color: #FFFFFF;
  padding: 0 15px;
}

.aside-off {
  right: -301px;
  transition: right;
  transition-duration: 0.5s;
}

.aside-button {
  position: absolute;
  opacity: 0.65;
  width: 50px;
  height: 50px;
  top: 50vh;
  right: 300px;
  transform: translate(50%, calc(-30px - 50%));
}

.aside-button > span {
  font-size: 20px;
  margin-left: -19px;
  pointer-events: none;
}

@media (max-width: 800px) {
  .aside, .aside-button {
    display: none;
  }
}

/* Backtop */
.backtop {
  position: fixed;
  right: 100px;
  bottom: 50px;
  opacity: 0.65;
  z-index: 3;
}

@media (max-width: 800px) {
  .backtop {
    right: 20px;
    bottom: 50px;
  }
}

.backtop:hover {
  opacity: 1;
}

/* Miscellaneous */
.lang-en {
  word-break: normal;
}

.hidden-opacity {
  opacity: 0 !important;
  visibility: hidden !important;
  transition-duration: 0.5s, 0s;
  transition-delay: 0s, 0.5s;
  transition-property: opacity, visibility;
}

.show-opacity {
  transition-duration: 0.5s, 0s;
  transition-delay: 0s, 0s;
  transition-property: opacity, visibility;
}

.hidden-height {
  height: 0 !important;
  visibility: hidden !important;
  transition-duration: 0.5s, 0s;
  transition-delay: 0s, 0.5s;
  transition-property: height, visibility;
}

.show-height {
  transition-duration: 0.5s, 0s;
  transition-delay: 0s, 0s;
  transition-property: height, visibility;
}

#luxy {
  position: relative;
}
